html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'PT Serif', serif; */

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

/* header style */
.header{
    text-align: center;
}

/* header logo */
.header_logo{
    padding: 88px 0 60px;
}

/* menu */
.menu {
    border-top: 2px solid #c4c4c4;
}

.menu_list{
    display: flex;
    justify-content: center;
}

.menu_list-item{
    width: 300px;
}

.menu_list-link{
    color: #888888;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    display: block;
    padding: 34px 10px 38px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    transition: all .3s;
}

/* marked active menu link and mark on hover */
.menu_list-link--active,
.menu_list-link:hover{
    color: #fff;
    background-color: #000;
}

.menu_list-item:first-child{
    border-left: 1px solid #c4c4c4;
}

.menu_list-item:last-child{
    border-right: 1px solid #c4c4c4;
}

.slider_item{
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.slick-arrow{
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 5;
    cursor: pointer;
    transform: translateY(-50%);
}

.slick-next{
    right: 20px;
}

.slick-prev{
    left: 20px;    
}

.serch_inner{
    padding: 60px 0 70px;
}

.serch_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.serch_form-label{
    color: #888888;
    font-size: 24px;
    line-height: 24px;
    margin-right: 69px;
    width: 155px;
}

.serch_form-input{
    height: 70px;
    padding: 0 15px;
    border: 2px solid #C4C4C4;
    width: 430px;
    color: #888;
    font-size: 18px;
}

.serch_form-input::placeholder{
    color: #888;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.serch_form-btn{
    border: none;
    background-color: #c4c4c4;
    color: #fff;
    padding: 21px 23px 21px 36px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.serch_form-btn::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../images/search_icon.svg);
    top: 26px;
    left: 9px;
}

